{% extends "layouts/base.html" %}

{% block title %} Nuevo Usuario {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}		
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Nuevo Usuario</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Capstone</a></li>
                                <li class="breadcrumb-item"><a href="#!">Nuevo Usuario</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Nuevo Usuario</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <form method="POST" id="form_user" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="fieldWrapper">
                                            <label class="my-1 me-2">Username:</label>
                                            <input type="text" class="form-control" id="username_id" name="username" placeholder="Ingrese username">
                                            <p id="username_error" style="color: rgb(207, 52, 75); margin-top: 6px; margin-left: 10px; display: none;"><i class="fas fa-exclamation fa-rotate-180 mr-1"></i> El username debe tener al menos 5 caracteres<i class="fas fa-exclamation ml-1"></i></p>
                                            <input id="username_valid" type="number"  style="display: none;">
                                        </div>
                                        <div class="fieldWrapper">
                                            <label class="my-1 me-2">Nombre:</label>
                                            <input type="text" class="form-control" id="id_nombre" name="nombre" placeholder="Ingrese nombre">
                                            <p id="name_error" style="color: rgb(207, 52, 75); margin-top: 6px; margin-left: 10px; display: none;"><i class="fas fa-exclamation fa-rotate-180 mr-1"></i> El nombre debe tener al menos 3 caracteres<i class="fas fa-exclamation ml-1"></i></p>
                                            <input id="name_valid" type="number" style="display: none;">
                                        </div>
                                        <div class="fieldWrapper mt-2">
                                            <label class="my-1 me-2">Apellidos:</label>
                                            <input class="form-control" type="text" id="id_app" name="apellidos" placeholder="Ingrese apellidos">
                                            <p id="app_error" style="color: rgb(207, 52, 75); margin-top: 6px; margin-left: 10px; display: none;"><i class="fas fa-exclamation fa-rotate-180 mr-1"></i> El apellido debe tener al menos 3 caracteres<i class="fas fa-exclamation ml-1"></i></p>
                                            <input id="app_valid" type="number" style="display: none;">
                                            
                                        </div>
                                        <div class="fieldWrapper mt-2">
                                            <label for="rut_id" class="form-label fw-bold">Rut:</label>
                                            
                                            <input class="form-control" 
                                                type="text" 
                                                id="rut_id" 
                                                name="rut" 
                                                placeholder="12.345.678-9"
                                                maxlength="12"
                                                oninput="formatearRut(this)">

                                            <p id="rut_error" class="text-danger small mt-1" style="display: none;">
                                                <i class="fas fa-exclamation-circle me-1"></i> 
                                                El RUT es inválido o muy corto.
                                            </p>

                                            <input id="rut_valid" type="number" style="display: none;">
                                        </div>
                                        <div class="fieldWrapper mt-2">
                                            <label class="my-1 me-2">Correo:</label>
                                            <input class="form-control" type="email" id="id_correo" name="correo" placeholder="Ingrese correo">
                                            <p id="correo_error" style="color: rgb(207, 52, 75); margin-top: 6px; margin-left: 10px; display: none;"><i class="fas fa-exclamation fa-rotate-180 mr-1"></i> Ingrese un correo valido.<i class="fas fa-exclamation ml-1"></i></p>
                                            <input id="correo_valid" type="number"  style="display: none;">
                                        </div>
                                        <div class="fieldWrapper mt-2">
                                            <label class="my-1 me-2">Telefono:</label>
                                            <input class="form-control" type="number" id="id_telefono" name="telefono" placeholder="999999999">
                                            <p id="telefono_error" style="color: rgb(207, 52, 75); margin-top: 6px; margin-left: 10px; display: none;"><i class="fas fa-exclamation fa-rotate-180 mr-1"></i> El telefono debe tener 9 digitos<i class="fas fa-exclamation ml-1"></i></p>
                                            <input id="telefono_valid" type="number" style="display: none;">
                                        </div>
                                        <div class="fieldWrapper mt-2">
                                            <label class="my-1 me-2">Contraseña:</label>
                                            <input class="form-control" type="password" id="contraseña_id" name="contraseña" placeholder="Ingrese contraseña">
                                            <p id="contraseña_error" style="color: rgb(207, 52, 75); margin-top: 6px; margin-left: 10px; display: none;"><i class="fas fa-exclamation fa-rotate-180 mr-1"></i> La contraseña debe tener al menos 6 caracteres<i class="fas fa-exclamation ml-1"></i></p>
                                            <input id="contraseña_valid" type="number" style="display: none;">
                                        </div>
                                        <div class="fieldWrapper mt-2">
                                            <label class="my-1 me-2">Repetir Contraseña:</label>
                                            <input class="form-control" type="password" id="contraseña2_id" name="contraseña2" placeholder="Repetir contraseña">
                                            <p id="contraseña2_error" style="color: rgb(207, 52, 75); margin-top: 6px; margin-left: 10px; display: none;"><i class="fas fa-exclamation fa-rotate-180 mr-1"></i> Las contraseñas deben ser iguales<i class="fas fa-exclamation ml-1"></i></p>
                                            <input id="contraseña2_valid" type="number" style="display: none;">
                                        </div>
                                        <div class="fieldWrapper mt-2">
                                            <label class="my-1 me-2">Perfil:</label>
                                            <select class="js-example-placeholder-multiple col-sm-12" name="perfil" id="perfil_id" data-placeholder="Seleccione Perfil">
                                                <option value="">Seleccione Perfil</option>
                                                {% for p in perfiles %}
                                                    <option value="{{p.id}}">{{p.name}}</option>
                                                {% endfor %}
                                            </select>
                                            <p id="perfil_error" style="color: rgb(207, 52, 75); margin-top: 6px; margin-left: 10px; display: none;"><i class="fas fa-exclamation fa-rotate-180 mr-1"></i> Debe seleccionar un perfil<i class="fas fa-exclamation ml-1"></i></p>
                                            <input id="perfil_valid" type="number" style="display: none;">
                                        </div>
                                        <br>
                                        <div class="form-group nav justify-content-end">
                                            <button class="btn btn-success" type="button" onclick="validar_form()">Guardar</button>
                                            <p>&nbsp&nbsp</p>
                                            <a class="btn btn-danger mr-1"
                                                onclick="window.history.go(-1); return false;">Volver</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ form-element ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </section>
    <!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- bootstrap-tagsinput-latest Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap-tagsinput.min.js"></script>
    <!-- bootstrap-maxlength Js -->
    <script src="/static/assets/js/plugins/bootstrap-maxlength.js"></script>
    <!-- form-advance custom js -->
    <script src="/static/assets/js/pages/form-advance-custom.js"></script>
    <script>
        function validateUsername(){
        // Get our input reference.
        var inputValue = document.getElementById('username_id').value;
        var input = document.getElementById('username_id');
        var validar = document.getElementById('username_valid');
        var inputError = document.getElementById('username_error');
        // Using test we can check if the text match the pattern
        if( inputValue.length > 4 ){
            input.style.border = '1px'
            input.style.borderColor = ' green'
            input.style.borderStyle = 'solid'
            input.style.borderRadius = '4px'
            inputError.style.display = 'none'
            validar.value = 1
            return true;
        }else{
            input.style.border = '1px'
            input.style.borderStyle = 'solid'
            input.style.borderColor = ' rgb(235, 65, 65)'
            input.style.borderRadius = '4px'
            inputError.style.display = 'block'
            validar.value = 0
            return false;
        }
    }

        function validateNombre(){
            // Get our input reference.
            var inputValue = document.getElementById('id_nombre').value;
            var input = document.getElementById('id_nombre');
            var validar = document.getElementById('name_valid');
            var inputError = document.getElementById('name_error');
            // Using test we can check if the text match the pattern
            if( inputValue.length > 2 ){
                input.style.border = '1px'
                input.style.borderColor = ' green'
                input.style.borderStyle = 'solid'
                input.style.borderRadius = '4px'
                inputError.style.display = 'none'
                validar.value = 1
                return true;
            }else{
                input.style.border = '1px'
                input.style.borderStyle = 'solid'
                input.style.borderColor = ' rgb(235, 65, 65)'
                input.style.borderRadius = '4px'
                inputError.style.display = 'block'
                validar.value = 0
                return false;
            }
        }
        
        function validateApp(){
            // Get our input reference.
            var inputValue = document.getElementById('id_app').value;
            var input = document.getElementById('id_app');
            var validar = document.getElementById('app_valid');
            var inputError = document.getElementById('app_error');
            // Using test we can check if the text match the pattern
            if( inputValue.length > 2 ){
                input.style.border = '1px'
                input.style.borderColor = ' green'
                input.style.borderStyle = 'solid'
                input.style.borderRadius = '4px'
                inputError.style.display = 'none'
                validar.value = 1
                return true;
            }else{
                input.style.border = '1px'
                input.style.borderStyle = 'solid'
                input.style.borderColor = ' rgb(235, 65, 65)'
                input.style.borderRadius = '4px'
                inputError.style.display = 'block'
                validar.value = 0
                return false;
            }
        }

        function validateTelefono(){
            // Get our input reference.
            var inputValue = document.getElementById('id_telefono').value;
            var input = document.getElementById('id_telefono');
            var validar = document.getElementById('telefono_valid');
            var inputError = document.getElementById('telefono_error');
            // Using test we can check if the text match the pattern
            if( inputValue.length > 8 ){
                input.style.border = '1px'
                input.style.borderColor = ' green'
                input.style.borderStyle = 'solid'
                input.style.borderRadius = '4px'
                inputError.style.display = 'none'
                validar.value = 1
                return true;
            }else{
                input.style.border = '1px'
                input.style.borderStyle = 'solid'
                input.style.borderColor = ' rgb(235, 65, 65)'
                input.style.borderRadius = '4px'
                inputError.style.display = 'block'
                validar.value = 0
                return false;
            }
        }

        function validateCorreo(){
            // Get our input reference.
            var emailField = document.getElementById('id_correo').value;
            var validar = document.getElementById('correo_valid');
            var inputError = document.getElementById('correo_error');
            // Define our regular expression.
            var validEmail =  /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            var inputEmail = document.getElementById('id_correo');
            // Using test we can check if the text match the pattern
            if( validEmail.test(emailField) ){
                inputEmail.style.border = '1px'
                inputEmail.style.borderColor = ' green'
                inputEmail.style.borderStyle = 'solid'
                inputEmail.style.borderRadius = '4px'
                inputError.style.display = 'none'
                validar.value = 1
                return true;
            }else{
                inputEmail.style.border = '1px'
                inputEmail.style.borderStyle = 'solid'
                inputEmail.style.borderColor = ' rgb(235, 65, 65)'
                inputEmail.style.borderRadius = '4px'
                inputError.style.display = 'block'
                validar.value = 0
                return false;
            }
        }

        function validateContraseña(){
            // Get our input reference.
            var inputValue = document.getElementById('contraseña_id').value;
            var validar = document.getElementById('contraseña_valid');
            var inputError = document.getElementById('contraseña_error');
            var inputEmail = document.getElementById('contraseña_id');
            // Using test we can check if the text match the pattern
            if( inputValue.length >  5 ){
                inputEmail.style.border = '1px'
                inputEmail.style.borderColor = ' green'
                inputEmail.style.borderStyle = 'solid'
                inputEmail.style.borderRadius = '4px'
                inputError.style.display = 'none'
                validar.value = 1
                return true;
            }else{
                inputEmail.style.border = '1px'
                inputEmail.style.borderStyle = 'solid'
                inputEmail.style.borderColor = ' rgb(235, 65, 65)'
                inputEmail.style.borderRadius = '4px'
                inputError.style.display = 'block'
                validar.value = 0
                return false;
            }
        }

        function validateRepetirContraseña(){
            // Get our input reference.
            var inputValue = document.getElementById('contraseña2_id').value;
            var inputValue2 = document.getElementById('contraseña_id').value;
            var validar = document.getElementById('contraseña2_valid');
            var inputError = document.getElementById('contraseña2_error');
            var inputEmail = document.getElementById('contraseña2_id');
            // Using test we can check if the text match the pattern
            if( inputValue2.length != 0 ){

                if( inputValue ==  inputValue2 ){
                    inputEmail.style.border = '1px'
                    inputEmail.style.borderColor = ' green'
                    inputEmail.style.borderStyle = 'solid'
                    inputEmail.style.borderRadius = '4px'
                    inputError.style.display = 'none'
                    validar.value = 1
                    return true;
                }else{
                    inputEmail.style.border = '1px'
                    inputEmail.style.borderStyle = 'solid'
                    inputEmail.style.borderColor = ' rgb(235, 65, 65)'
                    inputEmail.style.borderRadius = '4px'
                    inputError.style.display = 'block'
                    validar.value = 0
                    return false;
                }
            }else{
                inputEmail.style.border = '1px'
                inputEmail.style.borderStyle = 'solid'
                inputEmail.style.borderColor = ' rgb(235, 65, 65)'
                inputEmail.style.borderRadius = '4px'
                inputError.style.display = 'block'
                validar.value = 0
                return false;
            }
        }

        function validatePerfil(){
            // Get our input reference.
            var inputValue = document.getElementById('perfil_id').value;
            var validar = document.getElementById('perfil_valid');
            var inputError = document.getElementById('perfil_error');
            var inputEmail = document.getElementById('perfil_id');
            // Using test we can check if the text match the pattern
            if( inputValue != '' ){
                inputEmail.style.border = '1px'
                inputEmail.style.borderColor = ' green'
                inputEmail.style.borderStyle = 'solid'
                inputEmail.style.borderRadius = '4px'
                inputError.style.display = 'none'
                validar.value = 1
                return true;
            }else{
                inputEmail.style.border = '1px'
                inputEmail.style.borderStyle = 'solid'
                inputEmail.style.borderColor = ' rgb(235, 65, 65)'
                inputEmail.style.borderRadius = '4px'
                inputError.style.display = 'block'
                validar.value = 0
                return false;
            }
        }

        
    function validar_form(){
        validar_username = validateUsername()
        validar_name = validateNombre()
        validar_app = validateApp()
        validar_telefono = validateTelefono()
        validar_correo = validateCorreo()
        validar_contraseña = validateContraseña()
        validar_contraseña2 = validateRepetirContraseña()
        validar_perfil = validatePerfil()

        var listado_errores = []
        if (validar_username == 0) {
            listado_errores.push(0)
        }
        if (validar_name == 0) {
            listado_errores.push(0)
        }
        if (validar_app == 0) {
            listado_errores.push(0)
        }
        if (validar_telefono == 0) {
            listado_errores.push(0)
        }
        if (validar_correo == 0) {
            listado_errores.push(0)
        }
        if (validar_contraseña == 0) {
            listado_errores.push(0)
        }
        if (validar_perfil == 0) {
            listado_errores.push(0)
        }


        if (listado_errores.length > 0) {
            Swal.fire({
                title: 'Error!',
                text: "El formulario contiene " + listado_errores.length +" errores, corregir antes de cargar.",
                icon: 'error'
            })
            return false
        }else{
            let form = document.getElementById("form_user");
            form.submit()
        }
    }

        function formatearRut(input) {
 
        let rut = input.value.replace(/[^0-9kK]/g, '');

        if (rut.length === 0) {
            input.value = '';
            return;
        }

        if (rut.length === 1) {
            input.value = rut;
            return;
        }

        let cuerpo = rut.slice(0, -1);
        let dv = rut.slice(-1).toUpperCase(); 
        
        input.value = cuerpo.replace(/\B(?=(\d{3})+(?!\d))/g, ".") + "-" + dv;

        //Validación de largo para mostrar tu error
        const errorMsg = document.getElementById('rut_error');
        if(rut.length < 8) {
            errorMsg.style.display = 'block'; // Muestra el error si es muy corto
        } else {
            errorMsg.style.display = 'none';  // Oculta el error
        }
    }
    </script>
{% endblock javascripts %}
