{% extends "layouts/base.html" %}

{% block title %} {% if form.instance.pk %}Editar{% else %}Crear{% endif %} Proyecto {% endblock %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">{% if form.instance.pk %}Editar{% else %}Crear{% endif %} Proyecto</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'pro_listall' %}">Proyectos</a></li>
                            <li class="breadcrumb-item"><a href="#!">{% if form.instance.pk %}Editar{% else %}Crear{% endif %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" id="projectForm">
                            {% csrf_token %}
                            
                            <h5>Ingrese datos Proyecto</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="fieldWrapper">
                                        <label class="my-1 me-2">Ingrese Nombre:</label>
                                        {{ form.PRO_CNOMBRE }}
                                    </div>
                                    <div class="fieldWrapper mt-2">
                                        <label class="my-1 me-2">Seleccione Empresa:</label>
                                        {{ form.EMP_NID }}
                                    </div>
                                </div>
                            </div>
                            <br>

                            <h5>Asignar Alumnos</h5>
                            <hr>
                            <div class="fieldWrapper">
                                <label class="my-1 me-2">Seleccione los alumnos que participarán:</label>
                                {{ form.alumnos }}
                                <small class="text-muted">Haga clic en la barra para añadir. Haga clic en la 'x' del nombre para quitar.</small>
                            </div>
                            <br>

                            <h5>Fases del proyecto</h5>
                            <hr>

                            <div id="contenedor_fases">
                                
                                {% if form.instance.pk %}
                                    {% for item in fases_existentes %}
                                        <div style="border: 1px solid black; padding: 30px; border-radius: 20px; margin-top: 10px;" id="bloque_fase_{{ forloop.counter }}">
                                            <div class="d-flex justify-content-between">
                                                <h6>Fase {{ forloop.counter }} (Existente)</h6>
                                                <button type="button" class="btn btn-danger btn-sm" onclick="borrarFaseExistente({{ forloop.counter }}, {{ item.obj.FA_NID }})">Eliminar</button>
                                            </div>
                                            
                                            <input type="hidden" name="fase_id_{{ forloop.counter }}" value="{{ item.obj.FA_NID }}">

                                            <div>
                                                <div class="fieldWrapper">
                                                    <label class="my-1 me-2">Ingrese Nombre para la fase:</label>
                                                    <input type="text" class="form-control" name="nombre_fase_{{ forloop.counter }}" value="{{ item.obj.FA_CNOMBRE }}" required>
                                                </div>
                                                <div class="fieldWrapper">
                                                    <label class="my-1 me-2">Ingrese Descripción para la fase:</label>
                                                    <input type="text" class="form-control" name="descripcion_fase_{{ forloop.counter }}" value="{{ item.obj.FA_CDESCRICPCION }}">
                                                </div>
                                                <div class="d-flex mt-3">
                                                    <div class="fieldWrapper col-6">
                                                        <label class="my-1 me-2">Fecha inicio:</label>
                                                        <input type="date" class="form-control" name="fecha_inicio_fase_{{ forloop.counter }}" value="{{ item.obj.PRO_FFECHAINCIO|date:'Y-m-d' }}" required>
                                                    </div>
                                                    <div class="fieldWrapper col-6">
                                                        <label class="my-1 me-2">Fecha termino:</label>
                                                        <input type="date" class="form-control" name="fecha_termino_fase_{{ forloop.counter }}" value="{{ item.obj.PRO_FFECHATERMINO|date:'Y-m-d' }}" required>
                                                    </div>
                                                </div>
                                                <div class="mt-3">
                                                    <label class="my-1 me-2">Seleccione documentos para esta fase:</label>
                                                    <select name="documentos_fase_{{ forloop.counter }}[]" class="form-control js-example-placeholder-multiple" multiple="multiple" style="width: 100%;">
                                                        {% for doc in documentos %}
                                                            <option value="{{doc.TD_NID}}" {% if doc.TD_NID in item.docs_ids %}selected{% endif %}>
                                                                {{doc.TD_NOMBRE}}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                
                                {% else %}
                                    <div style="border: 1px solid black; padding: 30px; border-radius: 20px; margin-top: 10px;" id="bloque_fase_1">
                                        <h6>Fase 1</h6>
                                        <div>
                                            <div class="fieldWrapper">
                                                <label class="my-1 me-2">Ingrese Nombre para la fase:</label>
                                                <input type="text" class="form-control" name="nombre_fase_1" required>
                                            </div>
                                            <div class="fieldWrapper">
                                                <label class="my-1 me-2">Ingrese Descripción para la fase:</label>
                                                <input type="text" class="form-control" name="descripcion_fase_1">
                                            </div>
                                            <div class="d-flex mt-3">
                                                <div class="fieldWrapper col-6">
                                                    <label class="my-1 me-2">Fecha inicio:</label>
                                                    <input type="date" class="form-control" name="fecha_inicio_fase_1" required>
                                                </div>
                                                <div class="fieldWrapper col-6">
                                                    <label class="my-1 me-2">Fecha termino:</label>
                                                    <input type="date" class="form-control" name="fecha_termino_fase_1" required>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <label class="my-1 me-2">Seleccione documentos para esta fase:</label>
                                                <select name="documentos_fase_1[]" class="form-control js-example-placeholder-multiple" multiple="multiple" style="width: 100%;">
                                                    {% for doc in documentos %}
                                                        <option value="{{doc.TD_NID}}">{{doc.TD_NOMBRE}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <input type="hidden" name="ids_fases_a_borrar" id="ids_fases_a_borrar" value="">
                            
                            <input type="hidden" name="total_indices_js" id="total_indices_js" 
                                   value="{% if ultimo_indice %}{{ ultimo_indice }}{% else %}1{% endif %}">

                            <input type="hidden" name="cant_fases" id="cant_fases" 
                                   value="{% if ultimo_indice %}{{ ultimo_indice }}{% else %}1{% endif %}">

                            <div class="mt-3 mb-4 text-center">
                                <button class="btn btn-info" type="button" onclick="agregarNuevaFase()">Agregar nueva fase</button>
                                <button class="btn btn-danger" type="button" onclick="borrarUltimaFaseVisual()">Eliminar fase</button>
                            </div>

                            <div class="form-group nav justify-content-end mt-5">
                                <button class="btn btn-success mr-4" type="submit">Guardar</button>
                                <a class="btn btn-danger mr-1" href="{% url 'pro_listall' %}">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('.js-example-placeholder-multiple').select2({
            placeholder: "Seleccione documentos",
            allowClear: true,
            width: '100%'
        });
    });

    function agregarNuevaFase() {
        let inputTotal = document.getElementById('total_indices_js');
        let inputCant = document.getElementById('cant_fases');
        
        let nuevoIndice = parseInt(inputTotal.value) + 1;
        
        inputTotal.value = nuevoIndice;
        inputCant.value = nuevoIndice;

        let html = `
        <div style="border: 1px solid black; padding: 30px; border-radius: 20px; margin-top: 10px;" id="bloque_fase_${nuevoIndice}">
            <h6>Fase ${nuevoIndice} (Nueva)</h6>
            <div>
                <div class="fieldWrapper">
                    <label class="my-1 me-2">Ingrese Nombre para la fase:</label>
                    <input type="text" class="form-control" name="nombre_fase_${nuevoIndice}" required>
                </div>
                <div class="fieldWrapper">
                    <label class="my-1 me-2">Ingrese Descripción para la fase:</label>
                    <input type="text" class="form-control" name="descripcion_fase_${nuevoIndice}">
                </div>
                <div class="d-flex mt-3">
                    <div class="fieldWrapper col-6">
                        <label class="my-1 me-2">Fecha inicio:</label>
                        <input type="date" class="form-control" name="fecha_inicio_fase_${nuevoIndice}" required>
                    </div>
                    <div class="fieldWrapper col-6">
                        <label class="my-1 me-2">Fecha termino:</label>
                        <input type="date" class="form-control" name="fecha_termino_fase_${nuevoIndice}" required>
                    </div>
                </div>
                <div class="mt-3">
                    <label class="my-1 me-2">Seleccione documentos para esta fase:</label>
                    <select name="documentos_fase_${nuevoIndice}[]" class="form-control js-example-placeholder-multiple-new-${nuevoIndice}" multiple="multiple" style="width: 100%;">
                        {% for doc in documentos %}
                            <option value="{{doc.TD_NID}}">{{doc.TD_NOMBRE}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>`;

        $('#contenedor_fases').append(html);

        $(`.js-example-placeholder-multiple-new-${nuevoIndice}`).select2({
            placeholder: "Seleccione documentos",
            allowClear: true,
            width: '100%'
        });
    }

    function borrarUltimaFaseVisual() {
        let contenedor = document.getElementById('contenedor_fases');
        let bloques = contenedor.querySelectorAll('div[id^="bloque_fase_"]:not([style*="display: none"])');
        
        if (bloques.length > 1) {
            let ultimoBloque = bloques[bloques.length - 1];
            let idBloque = ultimoBloque.id;
            
            if (ultimoBloque.querySelector('input[name^="fase_id_"]')) {
                let inputId = ultimoBloque.querySelector('input[name^="fase_id_"]');
                let idBD = inputId.value;
                let indice = idBloque.split('_')[2];
                borrarFaseExistente(indice, idBD); 
            } else {
                
                ultimoBloque.remove();
                
            }
        } else {
            Swal.fire({
                icon: 'error',
                title: '¡Alto ahí!',
                text: 'Debe quedar al menos una fase en el proyecto. No puedes iniciar un proyecto sin fases.',
                confirmButtonColor: '#d33',
                confirmButtonText: 'Entendido',
                backdrop: true, 
                allowOutsideClick: false 
            });
        }
    }

    function borrarFaseExistente(indice, idBD) {
        if (confirm('¿Eliminar esta fase existente? Se borrará al guardar.')) {
            $(`#bloque_fase_${indice}`).hide();
            $(`#bloque_fase_${indice} :input`).prop('disabled', true);

            let inputBorrar = $('#ids_fases_a_borrar');
            let lista = inputBorrar.val() ? inputBorrar.val().split(',') : [];
            lista.push(idBD);
            inputBorrar.val(lista.join(','));
        }
    }
</script>
{% endblock javascripts %}