{% extends "layouts/base.html" %}

{% block title %} Lista de Documentos {% endblock %} 

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/dataTables.bootstrap4.min.css">
{% endblock stylesheets %}

{% block content %} 
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Repositorio de Documentos</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Plantillas de Documentos</h5>
                            
                            {% if is_profesor %}
                            <div class="card-header-right">
                                <a href="{% url 'create_doc_guia' %}" class="btn btn-sm btn-success">
                                    <i class="fas fa-plus"></i> Nuevo Documento
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="dt-responsive table-responsive">
                                <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            {% if is_profesor %}
                                                <th>Fecha Carga</th>
                                            {% endif %}
                                            <th>Descargar Archivo</th>
                                            {% if is_profesor %}
                                            <th>Acciones</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        {% for doc in docs %}
                                            <tr>
                                                <td>{{ doc.DOC_NOMBRE }}</td>
                                                {% if is_profesor %}
                                                    <td>{{ doc.DOC_FFECHACREACION|date:"d/m/Y" }}</td>
                                                {% endif %}
                                                <td>
                                                    {% if doc.DOC_CONTENIDO %}
                                                       <a href="{% url 'doc_download' doc.DOC_NID %}">
                                                            <i class="bi bi-cloud-arrow-down"></i> Descargar
                                                        </a>
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                
                                                {% if is_profesor %}
                                                <td>
                                                    <a href="{% url 'doc_update' doc.DOC_NID %}" class="btn btn-icon btn-sm btn-primary" title="Editar">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    
                                                    <a href="#" onclick="confirmarEliminacion('{% url 'doc_delete' doc.DOC_NID %}')" class="btn btn-icon btn-sm btn-danger" title="Eliminar">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="/static/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
    <script src="/static/assets/js/pages/data-export-custom.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function confirmarEliminacion(urlEliminar) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "El documento será eliminado permanentemente. ¡Esta acción no se puede deshacer!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminarlo',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = urlEliminar;
                }
            })
        }
    </script>
{% endblock javascripts %}