{% extends "layouts/base.html" %}

{% block title %} Tipos de Documentos {% endblock %} 

{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/css/plugins/dataTables.bootstrap4.min.css">
    {% load i18n %}
    {% load l10n %}
{% endblock stylesheets %}

{% block content %} 
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Lista de Tipos de Documentos</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/">Capstone</a></li>
                                <li class="breadcrumb-item"><a href="#">Tipos de Documentos</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="d-flex justify-content-between">
                            <div class="card-header table-card-header">
                                <h5>Tipos De Documentos</h5>
                            </div>
                            <div class=" mb-2 mb-md-0" style="margin-right: 50px;margin-top: 20px;">
                                <button class="btn btn-primary d-inline-flex align-items-center" data-toggle="modal" data-target="#ModalAgregarTipoDoc" onclick="cambiar_action_form('crear','0')"><i class="fas fa-plus"></i>
                                    &nbsp&nbsp Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="dt-responsive table-responsive">
                                <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>NOMBRE</th>
                                            <!-- <th>ESTADO</th> -->
                                            <th>ACCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for objeto in tipos %}
                                            <tr>
                                                <td><span class="fw-normal">{{ objeto.TD_NOMBRE }}</span></td>
                                                <!-- {% if objeto.TD_ESTADO %}
                                                    <td><i class="fas fa-check" style="color: #63E6BE;"></i></td>
                                                {% else %}
                                                    <td><i class="fas fa-times" style="color: #fa0000;"></i></td>
                                                {% endif %} -->
                                                <td>
                                                    <a href="#" 
                                                       class="btn btn-sm btn-primary p-1" 
                                                       title="Editar"
                                                       data-toggle="modal" 
                                                       data-target="#ModalAgregarTipoDoc" 
                                                       onclick="cambiar_action_form('actualizar','{{objeto.TD_NID}}', '{{ objeto.TD_NOMBRE }}')">
                                                            <i class="fas fa-edit"></i>
                                                    </a>
                                                    
                                                    <a href="#" 
                                                       class="btn btn-sm btn-danger p-1" 
                                                       title="Eliminar Tipo Documento"
                                                       onclick="confirmarEliminar('{% url 'tipodoc_delete' TD_NID=objeto.TD_NID %}', '{{ objeto.TD_NOMBRE }}'); return false;">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
    <div class="modal fade" id="ModalAgregarTipoDoc" role="dialog" aria-labelledby="ModalAgregarTipoDocLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalAgregarTipoDocTitle">Agregar Tipo documento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="form_tipo_doc">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        <label class="my-1 me-2" >Nombre de documento:</label>
                        <input type="text" class="form-control" id="nombre_id" name="nombre">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="m-2 btn btn-success" id="addpedido" onclick="verificar()">Guardar</button>
                        <button type="button" class="m-2 btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

    <script src="/static/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="/static/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.colVis.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.print.min.js"></script>
    <script src="/static/assets/js/plugins/pdfmake.min.js"></script>
    <script src="/static/assets/js/plugins/jszip.min.js"></script>
    <script src="/static/assets/js/plugins/dataTables.buttons.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.html5.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.bootstrap4.min.js"></script>
    <script src="/static/assets/js/pages/data-export-custom.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function cambiar_action_form(accion, id, nombre){
            form = document.getElementById('form_tipo_doc')
            if (accion == 'crear') {
                document.getElementById('nombre_id').value = ""; // Limpiar el input al crear
                document.getElementById('ModalAgregarTipoDocTitle').innerText = "Agregar Tipo Documento";
                form.setAttribute('action','/create_tipo_doc')
            }else{
                document.getElementById('nombre_id').value = nombre
                document.getElementById('ModalAgregarTipoDocTitle').innerText = "Editar Tipo Documento";
                form.setAttribute('action','/tipodoc_update/'+id)
            }
        }

        function verificar(){
            nombre = document.getElementById('nombre_id').value
            if (nombre.length < 1) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Debe ingresar un nombre valido.',
                    target: document.getElementById('ModalAgregarTipoDoc')
                })
                return false 
            }
            form = document.getElementById('form_tipo_doc')
            form.submit()
        }

        function confirmarEliminar(url, nombreDoc) {
            Swal.fire({
                title: '¿Eliminar Tipo?',
                text: "Estás a punto de eliminar el tipo: '" + nombreDoc + "'.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
        }
    </script>

{% endblock javascripts %}