{% extends "layouts/base-fullscreen.html" %}

{% block title %} Recuperar Contraseña {% endblock %}

{% block content %} 

    <div class="auth-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-12">

                    <div class="card-body">
                        
                        <img src="/static/assets/images/DOCUFLOW-LOGIN-REGISTRO.png" alt="" class="img-fluid mb-3" >
                        
                        <h4 class="mb-3 f-w-400">Recuperar Contraseña</h4>
                        <p class="subtitle">Ingresa tu usuario y te enviaremos una clave temporal a tu correo.</p>

                        {% if msg %}
                            <div class="alert {% if success %}alert-success{% else %}alert-danger{% endif %} text-left">
                                <i class="feather {% if success %}icon-check-circle{% else %}icon-alert-triangle{% endif %} mr-2"></i> 
                                {{ msg }}
                            </div>
                        {% endif %}

                        <p> <br /> </p>                     
                        
                        {% if not success %}
                        <form role="form" method="post" action="">
                            {% csrf_token %}
                            
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-user"></i></span>
                                </div>
                                {{ form.username }}
                            </div>

                            <button type="submit" class="btn btn-block btn-primary mb-4">Enviar Clave Temporal</button>
                        </form>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn btn-block btn-success mb-4">Ir a Iniciar Sesión</a>
                        {% endif %}

                        <p class="mb-0 text-muted">¿Te acordaste? <a href="{% url 'login' %}" class="f-w-400">Volver al Login</a></p>
                        
                        <p class="mb-2 text-muted"><br />&copy; Derechos reservados por DocuFlow</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/waves.min.js"></script>
{% endblock javascripts %}