{% extends "layouts/base.html" %}

{% block title %} Empresas {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/css/plugins/dataTables.bootstrap4.min.css">
    {% load i18n %}
    {% load l10n %}
{% endblock stylesheets %}

{% block content %}	
    <!-- [ Main Content ] start --> 
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Lista de Empresas</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/">Capstone</a></li>
                                <li class="breadcrumb-item"><a href="#">Empresas</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- HTML5 Export Buttons table start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="d-flex justify-content-between">
                            <div class="card-header table-card-header">
                                <h5>Opciones de exportación</h5>
                            </div>
                            <div class=" mb-2 mb-md-0" style="margin-right: 50px;margin-top: 20px;">
                                <a href="{% url 'create_emp' %}" class="btn  btn-primary d-inline-flex align-items-center"><i class="fas fa-user-plus"></i>
                                    &nbsp&nbsp Nuevo
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="dt-responsive table-responsive">
                                <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <!-- <th>ID EMPRESA</th> -->
                                            <th>NOMBRE</th>
                                            <th>RUT</th>
                                            <th>COMUNA</th>
                                            <th>ESTADO</th>
                                            <th>ACCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for objeto in emps %}
                                            <tr>
                                                <!-- <td class="col-1"><span class="fw-normal">{{ objeto.EMP_NID }}</span></td> -->
                                                <td><span class="fw-normal">{{ objeto.EM_CNOMBRE }}</span></td>
                                                <td><span class="fw-normal">{{ objeto.EM_RUT }}</span></td>
                                                <td><span class="fw-normal">{{ objeto.COM_NID }}</span></td>
                                                {% if objeto.EMP_ESTADO %}
                                                    <td class="col-1"><i class="fas fa-check" style="color: #63E6BE;"></i></td>
                                                {% else %}
                                                    <td class="col-1"><i class="fas fa-times" style="color: #fa0000;"></i></td>
                                                {% endif %}
                                                <td>
                                                    <a href="{% url 'emp_update' objeto.EMP_NID %}"><i class="fas fa-edit" style="color: #0e58d8;"></i></a>
                                                    <a href="{% url 'emp_deactivate' objeto.EMP_NID %}"><i class="fas fa-ban" style="color: #fa0000;"></i></a>
                                                    
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </section>
    <!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- datatable Js -->
    <script src="/static/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="/static/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.colVis.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.print.min.js"></script>
    <script src="/static/assets/js/plugins/pdfmake.min.js"></script>
    <script src="/static/assets/js/plugins/jszip.min.js"></script>
    <script src="/static/assets/js/plugins/dataTables.buttons.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.html5.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.bootstrap4.min.js"></script>
    <script src="/static/assets/js/pages/data-export-custom.js"></script>
    <script>
        $('.concli_disable').on("click", function(){
            const urlToNavigate = $(this).data('href');  // Obtiene la URL desde el atributo data-href
            Swal.fire({
                title: '¿Estás seguro que deseas inhabilitar este contrato de cliente?',
                text:'Una vez inhabilitado no se podrá modificar',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#299B0B',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = urlToNavigate;  // Si el usuario confirma, navega a la URL
                }
            });
        });

    </script>

{% endblock javascripts %}
