{% extends "layouts/base.html" %}

{% block title %} Empresas {% endblock %} 

{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/css/plugins/dataTables.bootstrap4.min.css">
    {% load i18n %}
    {% load l10n %}
{% endblock stylesheets %}

{% block content %}	
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Lista de Empresas</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/">Capstone</a></li>
                                <li class="breadcrumb-item"><a href="#">Empresas</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="d-flex justify-content-between">
                            <div class="card-header table-card-header">
                                <h5>Lista de Empresas</h5>
                            </div>
                            {% if user.is_superuser %}
                            <div class=" mb-2 mb-md-0" style="margin-right: 50px;margin-top: 20px;">
                                <a href="{% url 'create_emp' %}" class="btn  btn-primary d-inline-flex align-items-center"><i class="fas fa-user-plus"></i>
                                    &nbsp&nbsp Nuevo
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="dt-responsive table-responsive">
                                <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>NOMBRE</th>
                                            <th>RUT</th>
                                            <th>COMUNA</th>
                                            {% if user.is_superuser %}
                                                <th>ACCIONES</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for objeto in emps %}
                                            <tr>
                                                <td><span class="fw-normal">{{ objeto.EM_CNOMBRE }}</span></td>
                                                <td><span class="fw-normal">{{ objeto.EM_RUT }}</span></td>
                                                <td><span class="fw-normal">{{ objeto.COM_NID }}</span></td>
                                                {% if user.is_superuser %}
                                                    <td>
                                                        <a href="{% url 'emp_update' objeto.EMP_NID %}" class="btn btn-sm btn-primary p-1" title="Editar Empresa">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        
                                                        <a href="#" 
                                                        class="btn btn-sm btn-danger p-1" 
                                                        title="Eliminar Empresa"
                                                        onclick="confirmarEliminar('{% url 'emp_delete' EMP_NID=objeto.EMP_NID %}', '{{ objeto.EM_CNOMBRE }}'); return false;">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascripts %}

    <script src="/static/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="/static/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.colVis.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.print.min.js"></script>
    <script src="/static/assets/js/plugins/pdfmake.min.js"></script>
    <script src="/static/assets/js/plugins/jszip.min.js"></script>
    <script src="/static/assets/js/plugins/dataTables.buttons.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.html5.min.js"></script>
    <script src="/static/assets/js/plugins/buttons.bootstrap4.min.js"></script>
    <!-- <script src="/static/assets/js/pages/data-export-custom.js"></script> -->
    <script>
        function confirmarEliminar(url, nombreEmpresa) {
            Swal.fire({
                title: '¿Eliminar Empresa?',
                text: "Estás a punto de eliminar a " + nombreEmpresa + ". Esto podría afectar a los proyectos asociados.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
        }
    </script>

{% endblock javascripts %}
